#contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form {
    display: block;
}

.form-element {
    margin-bottom: 10px;
}

.form-element input, textarea {
    margin-top: 10px;
    width: 400px;
    border-radius: 5px;
}

.form-element input {
    height: 30px;
}

.form-element button {
    width: 400px;
}