.navbar {
    background-color: darkblue;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 1000;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.navbar-links {
    display: flex;
    gap: 1rem;
}
.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s;
}

.navbar-link:hover {
    transform: scale(1.05);
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .navbar-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: darkblue;
        flex-direction: column;
        align-items: center;
        display: none;
        color: white;
    }
    .navbar-links.active {
        display: flex;
    }
    .burger {
        display: flex;
    }
}