nav {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    padding: 0 400px;
}

.navbar-link {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0;
}

.navbar-link:hover {
    color: cornflowerblue;
    transform: scale(105%);
    transition-duration: 0.2s;
}