#projects-container {
    text-align: center;
    margin: 20px 100px;
}

#projects-container h1 {
    font-size: 60px;
}

#projects-container h1 span {
    color: cornflowerblue;
}

#projects {
    text-align: left;
}

.project {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
    color: white;
}

.project:hover {
    transform: scale(1.01);
}

.project h2 {
    font-size: 36px;
}

.project-image {
    object-fit: cover;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

.project-info {
    margin-left: 20px;
}

@media (max-width: 1200px) {
    #projects-container {
        margin: 20px 50px;
    }

    .project h2 {
        font-size: 30px;
    }

    .project-image {
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    #projects-container {
        margin: 20px;
    }

    #projects-container h1 {
        font-size: 40px;
    }

    .project {
        flex-direction: column;
        text-align: center;
    }

    .project-info {
        margin-left: 0;
        margin-top: 10px;
    }

    .project h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    #projects-container h1 {
        font-size: 32px;
    }

    .project h2 {
        font-size: 20px;
    }

    .project p {
        font-size: 14px;
    }
}